<!DOCTYPE html>
<html lang="en">
<head>
  <title>Job Posting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
html {
  background-image: url('Image.jpg'); 
  background-size: cover;
} 
.riya{
  background-image: image(Image);

}
/* li{
    margin: 10px 0;
  } */
  li{
    margin: 10px 0;
  }
  h1{
    font-size: 100px;
    font-style:italic;
    font: optical sizing 100px;
    color: black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  </style>
</head>

<body class="riya">
  
  

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" style="margin-top: 10px;" href="#">Job Posting</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/Pred">Prediction</a></li>
        <li><a href="/About">About</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<h1>Fake Job Post Prediction</h1>

</body>
</html>
